/*------------------------------------Global styles*/

body {
    font-family: 'Inter', sans-serif;
}

.navbar-nav .nav-item {
    margin-right: 5rem; /* Adjust as needed */
}

/* Ensure the last item has no right margin */
.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/*------------------------------------Headings*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 650;
}


/*------------------------------------Hero section*/

.hero-section {
    height: auto;
    padding: 5rem 0;
    background-image: url('../images/hero-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    color: white;

}

h1 {
    text-transform: uppercase;
}

.hero-section p:last-of-type {
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.hero-section p:first-of-type {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

/* .contact-form {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
} */


.contact-form .form-control {
    margin-bottom: 1rem;
}
.contact-form .btn {
    width: auto;
}
.btn-left {
    width: auto;
    max-width: 200px;
    margin-top: auto;
}
/*------------------------------------Marine electronics section homepage*/

.marine-electronics-section {
    background: url(../images/marine-electronics-section-background.png) no-repeat center / cover;
    color: white;
}

.mar-el-wrapper {
    position: relative;
    z-index: 1;
}

.mar-el-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 58 78 / 73%); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: -1;

}

.mar-el-top-head {
    margin-bottom: 48px;
}

.mar-el-top-head h2 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
    font-family: 'Roboto Serif';
    letter-spacing: 0.2rem;
}

.mar-el-top-head p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 200;
    font-weight: 150;
}

.mar-el-mid {
    margin-bottom: 5rem;
    gap: 5%;
}

.mar-el-mid div{
    border: solid 2px white;
    border-radius: 0.5rem;
    background-color: #17586F;
    aspect-ratio: 1 / 0.7;
    
}


.mar-el-mid i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}


.mar-el-bottom-heading h4 {
    margin-bottom: 0;
    border-bottom: solid white 2px;
    font-family: 'Roboto Serif';
    letter-spacing: 0.8px;
}

.mar-el-bottom-p-wrapper {
    position: relative;
}

.mar-el-bottom-p-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    letter-spacing: 0.4px;
}


/*------------------------------------Media Queries*/


@media (max-width: 576px) {

    .mar-el-top-head {
        margin-bottom: 16px;
    }

    .mar-el-mid {
        margin-bottom: 16px;
    }

    .mar-el-mid div {
        width: 60%;
        padding: 1rem;
    }

    .mar-el-mid div:not(:last-child) {
        margin-bottom: 16px;
    }

    /* .mar-el-bottom-heading h4 {
        display: none;
    } */
}

@media (max-width: 768px) {

    .mar-el-bottom-p-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .mar-el-mid {
        margin-bottom: 24px; 
    }

    .mar-el-mid div {
        margin-bottom: 32px;
    }
}


@media (max-width: 991.98px) {
    .btn-header {
        display: none;
    }
}

@media (min-width: 992px) {

    .mar-el-mid div {
        aspect-ratio: 1/1;
    }

    .mar-el-top-head h2 {
        font-size: 3.5rem;
    }

    .mar-el-top-head p {
        font-size: 2.5rem;
    }

    /* Vertical lines */
.mar-el-bottom-p-wrapper::before,
.mar-el-bottom-p-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: white; /* Adjust color as needed */
}

/* Positioning the vertical lines */
.mar-el-bottom-p-wrapper::before {
    left: calc(33.33% - 0.5px); /* Adjusted for line width */
}

.mar-el-bottom-p-wrapper::after {
    left: calc(66.66% - 0.5px); /* Adjusted for line width */
}

}


