
.navbar-nav .nav-item {
    margin-right: 5rem; /* Adjust as needed */
}

/* Ensure the last item has no right margin */
.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/*------------------------------------Hero section*/

.hero-section {
    padding: 3rem 0;
}

h1 {
    font-size: 3rem;
    font-size: 3rem;
    margin-bottom: 12px;
}

.text-content {
    display: flex;
    flex-direction: column;

}

.contact-form {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.contact-form .form-control {
    margin-bottom: 1rem;
}
.contact-form .btn {
    width: auto;
}
.btn-left {
    width: auto;
    max-width: 200px;
    margin-top: auto;
}
.hero-section p {
    margin-bottom: 1rem;
}
/*------------------------------------Marine electronics section homepage*/

.marine-electronics-section {
    background: url(../images/marine-electronics-section-background.png) no-repeat center / cover;
    color: white;
}

.mar-el-mid div{
    padding: 12px;
    border: solid 2px white;
}


/*------------------------------------Media Queries*/

@media (max-width: 991.98px) {
    .btn-header {
        display: none;
    }
}
