/*------------------------------------Global styles*/

body {
    font-family: 'Inter', sans-serif;
}

.navbar-nav .nav-item {
    margin-right: 5rem; /* Adjust as needed */
}

/* Ensure the last item has no right margin */
.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/*------------------------------------Headings*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 650;
    text-transform: uppercase;
}


/*------------------------------------Hero section*/

.hero-section {
    height: auto;
    padding: 5rem 0;
    background-image: url('../images/hero-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    color: white;

}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
}

.hero-section p:last-of-type {
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    font-weight: 200;
}

.hero-section p:first-of-type {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    font-weight: 200;
}

.hero-buttons {
    gap: 5%;
}

.hero-buttons > a {
    padding: 0.8rem 1.5rem;
    min-width: 180px;
    border-radius: 5%;

}

.hero-buttons > a:first-of-type {
    border: solid white 1px;
    background-color: transparent;
    color: white;
    background-color: rgb(0 58 78 / 73%);
}

.hero-buttons > :last-of-type {
    background-color: #44A6C3;
    color: white;
    border: none;
}

/*------------------------------------About us*/

.about-us-section {
    padding-bottom: 5rem;
}

.about-us-small-p {
    text-transform: uppercase;
    color: #08335B;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;

}

.about-us-section a {
    width: auto;
    background-color: #44A6C3;
    color: white;
    padding: 0.5rem 1.5rem; 
    border: none;
    letter-spacing: 0.8px;
}


.about-us-section h2 {
    color: #08335B;
}


.about-us-image {
    width: auto;
    height: auto;
}

.about-us-image img {
    width: 100%;
    height: 100%;
}


/*------------------------------------Marine electronics section homepage*/

.mar-el-section {
    background-color: #002446;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.mar-el-section h2 {
    font-size: 2rem;

}

.mar-el-section i {
    font-size: 3rem;
}

.mar-el-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 58 78 / 73%); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: -1;
    background: linear-gradient(to top left, rgba(3, 117, 159, 0.4) 0%, rgba(1, 42, 57, 0.9) 100%);
    pointer-events: none; /* Ensure it doesn't block interactions with other elements */
}



/*------------------------------------Media Queries*/


@media (max-width: 576px) {

    h1 {
        font-size: 2.5rem;
    }

    .hero-section p:last-of-type {
        font-size: 1rem;
    }

    .hero-section p:first-of-type {
        font-size: 0.8rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-buttons > a {
        width: 80%;
        margin: 0 auto; 
    }

    .hero-buttons > a:first-of-type {
        margin-bottom: 16px;
    }

    .mar-el-top-head {
        margin-bottom: 16px;
    }

    .mar-el-mid {
        margin-bottom: 16px;
    }

    .mar-el-mid div {
        width: 60%;
        padding: 1rem;
    }

    .mar-el-mid div:not(:last-child) {
        margin-bottom: 16px;
    }

}

@media (max-width: 768px) {

    .mar-el-bottom-p-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .mar-el-mid {
        margin-bottom: 24px; 
    }

    .mar-el-mid div {
        margin-bottom: 32px;
    }
}


@media (max-width: 991.98px) {
    .btn-header {
        display: none;
    }
}

@media (min-width: 992px) {

    .mar-el-mid div {
        aspect-ratio: 1/1;
    }

    .mar-el-top-head h2 {
        font-size: 3.5rem;
    }

    .mar-el-top-head p {
        font-size: 2.5rem;
    }

    /* Vertical lines */
.mar-el-bottom-p-wrapper::before,
.mar-el-bottom-p-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: white; /* Adjust color as needed */
}

/* Positioning the vertical lines */
.mar-el-bottom-p-wrapper::before {
    left: calc(33.33% - 0.5px); /* Adjusted for line width */
}

.mar-el-bottom-p-wrapper::after {
    left: calc(66.66% - 0.5px); /* Adjusted for line width */
}

}


